.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    // .absolute {
    //     position: absolute;
    //     top: 848px;
    //     z-index: 2;
    // }
}