* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.main {
    background: #181f2b;
}

.main-2 {
    background: #19212f;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

img {
    display: inline-block;
}