* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181f2b;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

img {
    display: inline-block;
}

